<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514749915525-69v3ucctva91rie2sg65i0ho8i6bujvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514749915525-69v3ucctva91rie2sg65i0ho8i6bujvc</string>
	<key>API_KEY</key>
	<string>AIzaSyCeLergwIcsrjBEMzyysIShPWGZC553Y3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>514749915525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wild.games</string>
	<key>PROJECT_ID</key>
	<string>unity-7bca6</string>
	<key>STORAGE_BUCKET</key>
	<string>unity-7bca6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514749915525:ios:3a3390ef71cb24042b64ec</string>
	<key>DATABASE_URL</key>
	<string>https://unity-7bca6.firebaseio.com</string>
</dict>
</plist>